venv
*.pyc
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_coverage_results/
/latest.dump.1
/latest.dump
__pycache__/

latest.dump.1
./_static_root/*
./__temp_migrations
phone_id_ext/_static/.DS_Store

.DS_Store

*.pyc

*.pyc
