{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Persönliche Angaben
{% endblock %}

{% block inner_content %}

<p> Geschlecht: {% formfield player.gender with label="" %} </p>

<p> Wie alt sind Sie (in Jahren)?
 {% formfield player.age with label="" %}</p>

<p> Welchen Familienstand haben Sie? {% formfield player.married with label="" %} </p>

<p> Haben Sie Kinder? {% formfield player.children with label="" %}</p>

<p> Wohnen AUßER IHNEN noch weitere Personen (z.B. Kinder oder Partner) in diesem Haushalt? {% formfield player.household with label="" %}</p>


<p><br></p>
    {% next_button %}
{% endblock %}
