{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Entscheidungssituation 5
{% endblock %}

{% block content %}

<p>
  Zum Abschluss der Aufgaben möchten wir Sie bitten, einen Geldbetrag von <b>10€ zwischen zwei
  weiteren Teilnehmern/innen dieser Studie aufzuteilen</b>.
</p>

<p>
In dieser letzten Aufgabe geht es also nicht mehr um Ihr persönliches Guthaben, sondern lediglich darum, einen von der
Forschungsgruppe bereitgestellten Betrag zwischen zwei anderen Personen aufzuteilen.
</p>

<p>
  Sie sehen wieder die Vornamen und Fotos dieser zwei Teilnehmer/innen, und können nun entscheiden, welchen Teil
  der 10€ jede/r der beiden erhalten soll.
</p>


 </p>

<p><br></p>

    {% next_button %}

{% endblock %}
