{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Einleitung &ndash; Entscheidungssituationen
{% endblock %}

{% block content %}


<p>Im Folgenden möchten wir Sie bitten, an <b> fünf Aufgaben „Geben und Nehmen“ </b>zu arbeiten.
  In diesen Aufgaben entscheiden Sie über die <b>Zuteilung von Geldbeträgen.</b>
</p>

<p> <b>Diese Geldbeträge ergeben am Ende Ihr persönliches Guthaben,</b>
  das Sie von uns als Dankeschön für die Teilnahme an der Studie erhalten.
</p>

<p>
  Für jede der Aufgaben werden Sie vom Computer <b>mit anderen  Studienteilnehmern virtuell zusammen gebracht.</b>
  Diese Teilnehmer/innen haben vorab eingewilligt, ihre Vornamen und ein Foto bereitzustellen, und weiter bei der Studie mitzumachen.
  Die Auswahl der vorherigen Teilnehmer/innen erfolgt nach dem Zufallsprinzip durch den Computer.
</p>

<p> Die Ihnen zugeteilten Teilnehmer werden <b>nichts über Ihre Identität erfahren</b>, sondern lediglich den
Geldbetrag erhalten, der aus den Entscheidungen resultiert.
</p>



<p><br></p>

  {% next_button %}

{% endblock %}
